.progerss-bar-container{
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius:4px;
    overflow: hidden;
    opacity: 0.5;
    transition: opacity .3s ease-out;
    margin: 1rem ;
}
  .progerss-bar-container .active{
        opacity: 1;
    }
    .progerss-bar{
        height: 100%;
        background-color: rgb(35, 35, 255);
        border-radius: 4px;
    }
